<footer class="text-center text-white bg-gray-800">
  <div class="max-w-7xl mx-auto p-6">
    <div class="">
      <p class="flex justify-center items-center">
        <span class="mr-4">Vas zanimajo naše storitve?</span>
        <a href="/kontakt">
          <button type="button"
                  class="inline-block px-6 py-2 border-2 border-white text-white font-medium text-xs leading-tight uppercase rounded-full hover:bg-green-500 hover:bg-opacity-55 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">
            Pošljite povpraševanje
          </button>
        </a>
      </p>
    </div>
  </div>

  <div class="text-center p-4 bg-gray-900">
    © 2022 Vse pravice pridržane:
    <a class="text-white"
       href="https://www.sopajgroup.si/">SOPAJ GROUP</a>
  </div>
</footer>
