<div class="bg-white sticky top-0 z-50  h-24 justify-between flex items-center">
  <div class="hamburger-menu w-72">
    <input id="menu__toggle"
           type="checkbox" />
    <label class="menu__btn"
           for="menu__toggle">
      <span></span>
      <div class="pl-10 -mt-2 text-sm text-gray-800">MENU</div>
    </label>

    <ul class="menu__box bg-gradient-to-b text-gray-100 from-gray-900 to-gray-800">
      {{ collection:pages offset="1" limit="6" }}
      <a href="{{url}}">
        <li class="py-2 pl-4 hover:text-blue-500">{{title}}</li>
      </a>
      {{/collection:pages }}
      <div class="h-14 md:hiddenflex justify-left items-center px-4 space-x-4 sm:h-auto text-sm transition-all duration-300">
        <div class="mr-8 space-x-2">
          {{ locales current_first="false" }}
          {{ if total_results > 1 }}
          <a href="{{ url }}"
             class="hover:text-white uppercase font-bold {{ if is_current }} font-bold text-blue-600 {{ /if }}">
            {{ locale:short_locale }}
          </a>
          {{ /if }}
          {{ /locales }}
        </div>
      </div>
      <div class="h-14 md:hidden flex justify-left items-center px-4 space-x-4 sm:h-auto text-xs transition-all duration-300">
        <div class=" space-x-2">
          <a href="https://www.instagram.com/krka.cup/"
             target="blank"
             class="hover:text-green-500 hover:scale-110"><i class="fa-brands fa-2x fa-instagram"></i></a>
          <a href="https://www.facebook.com/krkacup"
             target="blank"
             class="hover:text-green-500 hover:scale-110"><i class="fa-brands fa-2x fa-facebook-square"></i></a>
        </div>
    </ul>
  </div>
  <div class="text-center w-40">
    <a class="flex items-center"
       href="{{ site:url }}"> <img src="/img/logo.png"
           class="mx-auto w-40 hidden md:block"
           alt="">
    </a>
    <a href="{{ site:url }}"> <img src="/img/logo.png"
           class="mx-auto h-12 mr-2 md:hidden"
           alt=""></a>
  </div>
  <div class="hidden text-gray-800 md:flex w-72">
    <div class="h-16 flex justify-end md:items-center px-4 space-x-4 sm:h-auto text-sm transition-all duration-300">
      <div class="space-x-2">
        <a href="https://www.instagram.com/krka.cup/"
           target="blank"
           class="hover:text-blue-500 hover:scale-110"><i class="fa-brands fa-2x fa-instagram"></i></a>
        <a href="https://www.facebook.com/krkacup"
           target="blank"
           class="hover:text-blue-500 hover:scale-110"><i class="fa-brands fa-2x fa-facebook-square"></i></a>
        {{# <a href="tel:+386 70 612 299"><i class="fa-solid fa-phone"></i> +386 (0)70 612 299</a> (Bashkim) #}}
      </div>
    </div>
  </div>
</div>
